# UI
streamlit

# Voice
openai-whisper

# Database
psycopg2-binary
pgvector

# Embeddings
sentence-transformers

# ML - Task 2
scikit-learn
pandas
numpy

# Document parsing - Task 3 KB
python-pptx
python-docx

# Task 1 - ticket search
requests

# Utils
python-dotenv

# Visualization
matplotlib

# SOAP - National Rail OJP (jpservices.wsdl)
zeep


ollama
rapidfuzz
torch
torchvision
